@charset "utf-8";
* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    margin: 0 10px
}
.site_header {
    width: 1280px;
    margin: 50 auto;
    display: flex; /* 표시: 플렉스 세로 -> 가로 정렬*/
    justify-content: space-between;
    align-items: center;
}

.site_visual {
    height: 500px;
    overflow: hidden;
    background-image: url("../css/images/inside_out.jfif");
    background-position: center center;
    background-size: cover;
}

.ranking {
    width: 1280px;
    margin:0 auto;
    padding: 50px 0;
}

.site_header {
    display: flex;
    justify-content: space-between;
}

.tabs {
    display: flex;
}

.tabs h1, tabe h2 {
    font-size: 20px;
}

.tabs h2 {
    color: lightblue;
}

.all {
    border-radius: 15px;
    font-size:14px;
    padding: 5px 10px; 
}

